<mat-toolbar>
        <a routerLink="/home" ><span>My Application</span></a>
    <ul class="right">
        <li *ngIf="!(authService.loggedIn())"> <a (click)="openDialog('login')" class='no-drop'>LOGIN</a></li>
        <li *ngIf="!(authService.loggedIn())"> <a (click)="openDialog('register')" class='no-drop'>REGISTER</a></li>

        <li *ngIf="(authService.loggedIn())"><a [routerLink]="['/profile']" class='no-drop'>Profile</a></li>
        <li *ngIf="(authService.loggedIn())"><a (click)="onLogoutClick()" class='no-drop'>Logout</a></li>
    </ul>
  </mat-toolbar>
  