<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header *ngIf="this.pair && this.days">
        {{this.pair.name}}    Last Updated: {{ this.days[this.days.length -1].date}}
          <div class="col text-right">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Time Range: {{this.currentTimeRange}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button class="dropdown-item" (click)="change30Days()">30 Days</button>
                <button class="dropdown-item" (click)="change90Days()">90 Days</button>
                <button class="dropdown-item" (click)="change365Days()">1 year</button>
                <button class="dropdown-item" (click)="changeAllDays()">All Time</button>

              </div>
            </div>
          </div>
      </nb-card-header>
      <nb-card-body>
        <div echarts [options]="options"  class="echart"></div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
