<div >
  <div >
    Auth-Template
    A barebones app to kickstart your app developement
    Only css frameworks included are @angular/material + @angular/flex.
    @Angular flex is not used and @angular material only creates the auth dialog modals.
    Both can easily be removed.
  </div>

  <div>
    <h1>App routes</h1>
    <div>
        <a routerLink="/home" >Home</a>
    </div>
    <div>
      <a routerLink="/register" >register</a>
    </div>
    <div>
      <a routerLink="/emailVerification/:token" > emailVerification/:token To verify your email</a>
    </div>
    <div>
      <a routerLink="/resend/emailVerification" >emailVerification/resend Resend verification Email</a>
    </div>
    <div>
        <a routerLink="/login" >login</a>
    </div>
    <div>
      <a routerLink="/dashboard" >dashboard</a>
    </div>
    <div>
      <a routerLink="/profile" >profile</a> 
    </div>
    <div>
      <a routerLink="/resetpw" >resetpw To reset your password</a>
    </div>
    <div>
      <a routerLink="/resetpw/:token" > resetpw/:token Used with the link from email to reset your password</a>
    </div>
  </div>
</div>
